# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db-shm
*.opendb
*.db
.vs/Lostark_Simulator/v16/.suo
*.db-wal
*.ipch
*.tlog
*.txt
*.idb
*.pdb
*.log
*.recipe
*.ilk
*.zip
*.iobj
*.ipdb
x64/Release/RDa38184
